aiohttp
aiosignal
asttokens
async-timeout
attrs
backcall
blinker
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
exceptiongroup
executing
fasttext-wheel
filelock
Flask
frozenlist
fsspec
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
mpmath
multidict
nest-asyncio
networkx
numpy
openai
packaging
pandas
parso
pickleshare
platformdirs
prompt-toolkit
psutil
pure-eval
pybind11
Pygments
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyzmq
regex
requests
safetensors
scikit-learn
scipy
six
stack-data
sympy
threadpoolctl
tokenizers
torch
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
yarl
zipp